@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Blue: hsl(246, 80%, 60%);
    --Light-orange /*(work)*/: hsl(15, 100%, 70%);
    --Soft-blue /*(play)*/: hsl(195, 74%, 62%);
    --Light-red /*(study)*/: hsl(348, 100%, 68%);
    --Lime-green /*(exercise)*/: hsl(145, 58%, 55%);
    --Violet /*(social)*/: hsl(264, 64%, 52%); 
    --Soft-orange /*(self care)*/: hsl(43, 84%, 65%);

    --Very-dark-blue: hsl(226, 43%, 10%);
    --Dark-blue: hsl(235, 46%, 20%);
    --Desaturated-blue: hsl(235, 45%, 61%);
    --Pale-Blue: hsl(236, 100%, 87%);
}

body {
    background: var(--Very-dark-blue);
    font-family: 'rubik', sans-serif;
    color: white;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.principal {
    grid-area: card-principal;
    background: var(--Dark-blue);
    border-radius: .8rem;;
}

.principal .card-principal-top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 70%;
    padding: 1rem;
    background: var(--Blue);
    border-radius: .8rem;
}

.principal .card-principal-top img {
    height: 50px;
    border-radius: 2rem;
    border: solid 3px white;
    object-fit: contain;
}

.card-principal-top-text small {
    font-weight: 200;
}

.card-principal-top-text h2 {
    font-weight: 200;
}

.card-principal-nav {
    height: 30%;
    display: flex;
}

.card-principal-nav ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    list-style: none;
}

.periodbtn {
    color: var(--Desaturated-blue);
    cursor: pointer;
}

.periodbtn:hover {
    color: white;
    transition: .2s ease-in-out;
}

.card-work {
    grid-area: 'card-work';
    background: var(--Dark-blue);
    border-radius: .8rem;
}

.card-work .card-background {
    background-color: var(--Light-orange);
    background-image: url(./images/icon-work.svg);
    background-repeat: no-repeat;
    background-position: right top;
}

.card-play {
    grid-area: card-play;
    background: var(--Dark-blue);
    border-radius: .8rem;
}

.card-play .card-background {
    background-color: var(--Soft-blue);
    background-image: url(./images/icon-play.svg);
    background-repeat: no-repeat;
    background-position: right top;
}

.card-study {
    grid-area: card-study;
    background: var(--Dark-blue);
    border-radius: .8rem;
}

.card-study .card-background {
    background-color: var(--Light-red);
    background-image: url(./images/icon-study.svg);
    background-repeat: no-repeat;
    background-position: right top;
}

.card-exercise {
    grid-area: card-exercise;
    background: var(--Dark-blue);
    border-radius: .8rem;
}

.card-exercise .card-background {
    background-color: var(--Lime-green);
    background-image: url(./images/icon-exercise.svg);
    background-repeat: no-repeat;
    background-position: right top;
}

.card-social {
    grid-area: card-social;
    background: var(--Dark-blue);
    border-radius: .8rem;
}

.card-social .card-background {
    background-color: var(--Violet);
    background-image: url(./images/icon-social.svg);
    background-repeat: no-repeat;
    background-position: right top;
}

.card-selfcare {
    grid-area: card-care;
    background: var(--Dark-blue);
    border-radius: .8rem;
}

.card-selfcare .card-background {
    background-color: var(--Soft-orange);
    background-image: url(./images/icon-self-care.svg);
    background-repeat: no-repeat;
    background-position: right top;
}

.container-grid {
    display: grid;
    width: 70%;
    gap: 1rem;
    grid-template-areas: 
        'card-principal'
        'card-work'
        'card-play'
        'card-study'
        'card-exercise'
        'card-social'
        'card-care';
        min-width: 261px;

}

.card-background {
 height: 35px;
 border-radius: .8rem .8rem 0 0;
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: .7rem;
    border-radius: .8rem;
    padding: 1rem;
}

.card-content-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-content-title span {
    font-size: 1rem;
}

.card-content-title img {
    object-fit: contain;
    cursor: pointer;
}

.card-content-hours {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-content-hours span {
    font-size: 4rem;
    font-weight: 200;
    font-size: 1.5rem;
}

.periodDay {
    font-weight: 200;
    font-size: .8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--Pale-Blue);
    width: 100%;
}

.periodDay span {
    color: white;
}

.periodDay p {
    font-size: .8rem;
}

.periodWeek {
    font-weight: 200;
    font-size: .8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--Pale-Blue);
    width: 100%;
}

.periodWeek span {
    color: white;
}

.periodWeek p {
    font-size: .8rem;
}

.periodMonth {
    font-weight: 200;
    font-size: .8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--Pale-Blue);
    width: 100%;
}

.periodMonth span {
    color: white;
}

.periodMonth p {
    font-size: .8rem;
}

.hide {
    display: none;
}

.active {
    color: white;
    font-weight: bold;
}

@media (min-width: 985px) {

    .container {
        align-items: center;
        justify-self: center;
        justify-content: center;
        max-width: 1200px;
    }

    .container-grid {
        width: 70%;
        grid-template-columns: repeat(4, 1fr); 
        grid-template-areas:
        'card-principal card-work card-play card-study'
        'card-principal card-exercise card-social card-care';
        max-width: 840px;
        min-width: 780px;
    }

    .principal {
        height: 100%;
    }

    .principal .card-principal-top {
        height: 55%;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1rem;
    }

   .principal .card-principal-top-text {
    font-size: 1rem;
   }

   .card-principal-nav {
    height: 45%;
    justify-content: space-between;
   }

   .card-principal-nav ul {
    flex-direction: column;
    align-items: flex-start;
   }

   .card-content {
    gap: 2rem;
   }

   .card-content-hours {
    flex-direction: column;
    align-items: flex-start;
   }

   .periodDay {
    flex-direction: column;
    align-items: flex-start;
   }

   .periodWeek {
    flex-direction: column;
    align-items: flex-start;
   }

   .periodMonth {
    flex-direction: column;
    align-items: flex-start;
   }

}